.container-fluid {
  padding: 0%;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url(../images/wood.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.navbar {
  font-family: 'Playfair Display', serif;
}

#tagline {
  font-family: 'Rye', cursive;
  text-align: center;
  padding: 2%;
  font-size: 300%;
  color: #F7F3E3;
}

#hours {
  text-align: center;
  color: #F7F3E3;
  font-family: 'Rye', cursive;
  text-align: center;
  padding: 2%;
  font-size: 300%;
  color: #F7F3E3;
}

#hoursSubsection  {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 2%;
  font-size: 250%;
  color: #F7F3E3;
}

#events {
  background-color: #595A4A;
  padding-top: 2%;
}

#featured {
  text-align: center;
  color: #F7F3E3;
  font-family: 'Rye', cursive;
  text-align: center;
  font-size: 300%;
  color: #F7F3E3;
}

.img {
  margin-left: 10%;
}

.row {
    margin-top: 5%;
}

.tessy-words {
    text-align: center;
    text-shadow: brown;
    margin-top: 5%;
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    color: #F7F3E3;
}

.sylvie-words {
    text-align: center;
    text-shadow: brown;
    margin-top: 5%;
    margin-left: -20%;
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    color: #F7F3E3;
}

.sylvie-img {
  margin-left: 10%;
}

.twang-words {
  text-align: center;
  text-shadow: brown;
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: 'Playfair Display', serif;
  font-size: 200%;
  color: #F7F3E3;
}

.bg2 {
  /* The image used */
  background-image: url(../images/paper.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding-bottom: 2%;
}

#menuTitle {
  text-align: center;
  color: #F7F3E3;
  font-family: 'Rye', cursive;
  text-align: center;
  padding: 2%;
  font-size: 300%;
  color: #F7F3E3;
}

.menuContainer {
  text-align: left;
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: 'Playfair Display', serif;
  font-size: 100%;
  color: #F7F3E3;
}

.menuItemTitle {
  color: black;
  font-size: 150%;
}

.menuItemCost {
  color: black;
  font-size: 150%;
}

.menuItemDescription {
  padding-top: 2%;
}

#contact {
  background-color: #595A4A;
  padding-top: 2%;
}

#contactUs {
  text-align: center;
  color: #F7F3E3;
  font-family: 'Rye', cursive;
  text-align: center;
  padding: 2%;
  font-size: 300%;
  color: #F7F3E3;
}

#contactIcons {
  text-align: center;
  padding-top: 2%;
}

#phone {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 200%;
  color: #F7F3E3;
}

#address {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 200%;
  color: #F7F3E3;
}





/* fonts: 
font-family: 'Playfair Display', serif;
font-family: 'Rye', cursive; */

