.container-fluid {
  padding: 0%;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url(../images/wood.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.navbar {
  font-family: 'Playfair Display', serif;
}

#home {
  margin-bottom: 2%;
}
#tagline {
  font-family: 'Rye', cursive;
  text-align: center;
  padding: 2%;
  font-size: 300%;
  color: #F7F3E3;
}

#hours {
  padding: 2%;
  text-align: center;
  color: #F7F3E3;
  font-family: 'Rye', cursive;
  text-align: center;
  padding: 2%;
  font-size: 300%;
  color: #F7F3E3;
}

#hoursSubsection  {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 2%;
  font-size: 150%;
  color: #F7F3E3;
}

#events {
  background-color: #595A4A;
  padding-top: 2%;
}

#featured {
  padding: 2%;
  text-align: center;
  color: #F7F3E3;
  font-family: 'Rye', cursive;
  text-align: center;
  padding: 2%;
  font-size: 300%;
  color: #F7F3E3;
}

.img {
  margin-left: 10%;
}

.row {
    margin-top: 10%;
}

.tessy-words {
    text-align: center;
    text-shadow: brown;
    margin-top: 5%;
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    color: #F7F3E3;
}

.sylvie-words {
    text-align: center;
    text-shadow: brown;
    margin-top: 5%;
    margin-left: -20%;
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    color: #F7F3E3;
}

.sylvie-img {
  margin-left: 10%;
}

.twang-words {
  text-align: center;
  text-shadow: brown;
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: 'Playfair Display', serif;
  font-size: 200%;
  color: #F7F3E3;
}



/* fonts: 
font-family: 'Playfair Display', serif;
font-family: 'Rye', cursive; */

