.container-fluid {
  padding: 0%;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url(../images/wood.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tagline {
  font-family: 'Rye', cursive;
  text-align: center;
  padding: 2%;
  font-size: 300%;
  color: #F7F3E3;
}




/* fonts: 
font-family: 'Roboto', sans-serif;
font-family: 'Rye', cursive; */

